{% extends 'django_shop/base.html' %}


{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'django_shop/css/product.css' %}">
{% endblock %}

{% block ttl %}
    {{ product.name }}
{% endblock %}

{% block bdy %}
    <p class="product_name">{{ product.name }}</p>
    <div class="image_column">
        {% load static %}
        <img src="{% static 'django_shop/img/' %}{{ product.picture }}" width="100%">
        <div class="price_box">
            Цена: <span class="price_text">{{ product.price }}</span> руб.
        </div>
    </div>
    <div class="description_column">
        <b>Материал клинка: </b>{{ product.blade_material }}<br>
        <b>Твердость по шкале Роквелла (Hrc): </b>{{ product.hardness }}<br>
        <b>Материал рукояти: </b>{{ product.handle_material }}<br>
        <b>Тип ножевого замка: </b>{{ product.lock }}<br>
        <b>Приспособление для открытия клинка: </b>{{ product.action }}<br>
        <b>Длина клинка (см): </b>{{ product.blade_length }}<br>
        <b>Длина ножа (см): </b>{{ product.full_length }}<br>
        <b>Толщина обуха (мм): </b>{{ product.blade_thickness }}<br>
        <b>Вес (гр): </b>{{ product.weight }}<br>
        <b>Компания-производитель: </b>{{ product.producer }}<br>
        <b>Страна-изготовитель: </b>{{ product.origin }}<br>
    </div>
{% endblock %}
