{% extends 'django_shop/base.html' %}


{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'django_shop/css/products.css' %}">
{% endblock %}

{% block ttl %}
    Каталог товаров
{% endblock %}

{% block bdy %}
    {% load static %}
    {% for item in product_list %}
        <a href="{% url 'django_shop:products' %}{{ item.id }}/">
            <div class="product_card">
                <p class="card_product_name">{{ item.name }}</p>
                <img src="{{ item.picture.url }}" width="100%">
                <div class="card_price_box">
                    Цена: <span class="card_price_text">{{ item.price }}</span> руб.
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
